html, body {
  margin: 0;
  padding: 0;
  
}

canvas {
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -1;
  display: block;
  color: #fff;
  position: fixed;
}





/*✧༺♥༻✧╔══ஓ๑♡๑ஓ══╗ ✧༺♥༻✧
           ✦ menu ✦
✧༺♥༻✧  ╚══ஓ๑♡๑ஓ══╝ ✧༺♥༻✧*/

#menu {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

.menu-item {
  position: fixed;
  font-family: "ocr-a-std", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: blue;
  text-decoration: none;
  pointer-events: auto;
  overflow: hidden;
}

.menu-item:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #ea0a8c;
}
/*✧༺♥༻✧╔══ஓ๑♡๑ஓ══╗ ✧༺♥༻✧
           ✦ dialog ✦
✧༺♥༻✧  ╚══ஓ๑♡๑ஓ══╝ ✧༺♥༻✧*/
dialog {
  font-family: "Helvetica World", sans-serif;
  color: blue;
  z-index: 300;
  background: white;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  max-width: 256px;
  margin: 0;
  padding: 1.2rem;
  position: absolute;
  inset: auto;
  cursor:grab;
  transform: translateX(-50%);
}

dialog form {
  font-family: "Helvetica World", sans-serif;
  border-bottom: 1px solid #fff;
  display: flex;
}

dialog button {
  font-family: "Helvetica World", sans-serif;
  font: inherit;
  text-transform: uppercase;
  color: inherit;
  background: none;
  border: none;
  margin: 0 0 0 auto;
  padding: 12px 16px;
  font-size: 10px;
  line-height: 12px;
}


#popup-contact a:hover {
  text-decoration: underline;
}

/*✧༺♥༻✧╔══ஓ๑♡๑ஓ══╗ ✧༺♥༻✧
         ✦ selection ✦
✧༺♥༻✧  ╚══ஓ๑♡๑ஓ══╝ ✧༺♥༻✧*/
::selection {
  background: #F2C2CF;
  color: black;
  text-shadow: none;
}

::-moz-selection {
  background: #F2C2CF;
  color: black;
  text-shadow: none;
}

footer {
  color: blue;
  text-align: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 0;
  letter-spacing: 0.5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px dashed #fff;
}
footer p {
  margin: 0;
} 
footer a {
  color: blue;
}

/*✧༺♥༻✧╔══ஓ๑♡๑ஓ══╗ ✧༺♥༻✧
         ✦ mobile ✦
✧༺♥༻✧  ╚══ஓ๑♡๑ஓ══╝ ✧༺♥༻✧*/

@media (max-width: 768px) {
  footer {
    font-size: 10px; 
    padding: 10px 0;     
  }
}

@media (max-width: 768px) {
  #menu a[href="#contact"] {
  
    top: 30% !important;
    right: 15% !important;

  }
}

@media (max-width: 768px) {
  #menu a[href="#bio"] {

    top: 25% !important;
    left: 20% !important;
  }
}
@media (max-width: 768px) {
  #menu a[href="#listen"] {
    top: 10% !important;
    left: 40% !important;
  }
}
@media (max-width: 768px) {
  #menu a[href="#press"] {
    top: 72% !important;
    left: 20% !important;
  }
}

@media (max-width: 768px) {
  a.menu-item[href="https://eliseby-bedroom.tumblr.com"] {
    top: 81% !important;
    right: 18% !important;
  
  }
}

@media (max-width: 768px) {
  #click-text a {
  font-size: 25px;
}
}

@media (max-width: 768px) {
  #click-text {
  top: 85%;
  white-space: nowrap;
}
}
@media (max-width: 768px) {
  #keen-slider__slide number-slide13 {
min-width: 50px;
max-width: 50px;
}
}


/*✧༺♥༻✧╔══ஓ๑♡๑ஓ══╗ ✧༺♥༻✧
    ✦ press gallery slider ✦
✧༺♥༻✧  ╚══ஓ๑♡๑ஓ══╝ ✧༺♥༻✧*/


.keen-slider {
  display: flex;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}



#press-gallery {
  width: 100vw;
  height: 72vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}


#press-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position:inherit;
  cursor: grab;
}
#press-slider:active {
  cursor: grabbing;
}


.keen-slider__slide {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1vw;
  box-sizing: border-box;
}


.keen-slider__slide img {   
  height: 100%;
  width: auto;
  object-fit: contain;
  pointer-events: none;
}


#click-text {
  position: absolute;
  bottom: 17.5vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  color: blue;
  z-index: 10;
  text-align: center;
  text-shadow: 0 0 4px white, 0 0 8px white, 0 0 20px blue;
  
}

#click-text a {
  color: blue;
  text-decoration: none;
}

#click-text a:hover {
  font-style: italic;
}

/*✧༺♥༻✧╔══ஓ๑♡๑ஓ══╗ ✧༺♥༻✧
     ✦ grid background ✦
✧༺♥༻✧  ╚══ஓ๑♡๑ஓ══╝ ✧༺♥༻✧*/

#grid-overlay {
  position: fixed;
  top: 47%;
  left: 50%;
  width: 95%;
  height: 95%;
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;
  mix-blend-mode: multiply;
}

@media (max-width: 768px) {
  #grid-overlay {
    top: auto;  
    bottom: 10vw; 
    left: 3vw; 
    width: 250%;
    height: 100%;
    transform: none;
  }
}


/*✧༺♥༻✧╔══ஓ๑♡๑ஓ══╗ ✧༺♥༻✧
     ✦ social + music icons ✦
✧༺♥༻✧  ╚══ஓ๑♡๑ஓ══╝ ✧༺♥༻✧*/



.icon-bar {
  position: fixed;  
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 60px; 
}

.social-icons,
.music-icons {
  display: flex;
  gap: 18px;
}

.icon-bar a {
  font-size: 20px;
  color: blue;
  transition: all 0.3s ease;
  text-decoration: none;
}

.credits a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.credits a:hover {
  color: #ea0a8c;
}

.icon-bar a:hover {
  color: #ea0a8c;
  transform: scale(1.15);
  cursor: pointer;
}

@media (max-width: 768px) {
  .icon-bar {
    padding: 0 30px;
    bottom: 15px;
  }

  .social-icons,
  .music-icons {
    gap: 12px;
  }

  .icon-bar a {
    font-size: 18px;
  }

  #devtag {
    bottom: 5%;
  }
}



